* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid black;
  margin-bottom: 10px;
}

p {
  margin-top: 20px;
}

nav {
  width: 200px;
}

header img {
  /*display: flex;*/
  color: MediumAquamarine;
}

header a {
  color: black;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

div {
  /* border: 1px solid black; */
  /* margin-bottom: 20px; */
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.title {
  display: flex;
  padding-left: 10px;
  align-items: center;
  flex-grow: 1;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.maincontent {
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
}

.main {
  display: flex;
}

.column {
  display: flex;
  padding-right: 20px;
}

.column.large {
  width: 630px;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  flex-direction: column;
}

.column.small {
  width: 240px;
  flex-direction: column;
}

.phototext {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0px 10px;
}

.concert {
  background-image: url("./images/img-story-main.png");
  height: 300px;
  display: flex;
  align-items: center;
}

.concert p {
  font-size: 40px;
  text-align: left;
}

.earth {
  background-image: url("./images/img-story-2.png");
  height: 300px;
  display: flex;
  align-items: center;
}

.research {
  background-image: url("./images/img-story-3.png");
  height: 300px;
  display: flex;
  align-items: center;
}

.orca {
  display: flex;
  width: 299px;
  /* height: 300px; */
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.burger {
  display: flex;
  width: 299px;
  /* height: 300px; */
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.cats {
  background-image: url("./images/img-story-1.png");
  height: 300px;
}

.allsubs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub {
  margin-top: 20px;
  /* border: 3px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
}

.newsbites {
  font-size: 16px;
  font-weight: bold;
}

.newsbites h1 {
    text-align: center;
}

.newsbites ul {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  list-style: none;
  margin-top: 40px;
}

.newsbites li {
  border-bottom: 1px solid black;
  padding: 10px 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  z-index: 15;
  padding: 100px;
  position: relative;
  top: 0px;
  left: 0px;
}

span {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.vertline {
  padding: 0px 20px;
}
