header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  padding: 10px;
}

nav {
  width: 200px;
}

header img {
  /*display: flex;*/
  color: MediumAquamarine;
}

header a {
  color: black;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

li {
}

div {
  border: 1px solid black;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.title {
  display: flex;
  padding-left: 10px;
  align-items: center;
  flex-grow: 1;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

.maincontent {
  display: flex;
  justify-content: center;

}

.main {
  display: flex;
}

.column {
  display: flex;
  padding-right: 20px;
}

.column.large {
  width: 630px;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  flex-direction: column;
}

.column.small {
  width: 240px;
  flex-direction: column;
}

.concert {
  background-image: url("./images/img-story-main.png");
}

.phototext {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.concert p {
  font-size: 40px;
}

.earth {
  background-image: url("./images/img-story-2.png");
}

.research {
  background-image: url("./images/img-story-3.png");
}

.cats {
  background-image: url("./images/img-story-1.png");
}
